*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: white;
    
}

/* navbar style  */

.navbar{
    width: 100%;
    background-color: #1A0B2E;
    padding: 0 30px;
    box-sizing: border-box;
    border-bottom: 1px solid gray;
}

.logo{
    height: 25px;
}

.nav-content{
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    padding: 20px 0px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.nav-item ul{
    display: flex;
    gap: 0px;
    box-sizing: border-box;
}

ul li a{
    padding: 20px 30px;
    box-sizing: border-box;
}

ul li a:hover{
    background-color: rgb(189, 159, 24);
    font-weight: bold;
}


.btn{
    padding: 10px 20px;
    background-color: green;
    border-radius: 25px 68px 26px 51px;
}


a:hover{
    background-color: rgb(27, 161, 1);
}



/* banner style  */
.banner{
    background-color: #1A0B2E;
    background-image: url("./assets/hero-bg.png");
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.img{
    margin-bottom: 50px;
}

h1{
    font-size: 48px;
    margin-bottom: 10px;
    font-weight: bold;
    text-align: center;
}

p{
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.btns{
    display: flex;
    gap: 20px;
    justify-content: center;
}

.mic{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/* about section  */
.about{
    padding: 100px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    background-color: #1A0B2E;
}

.cards{
    display: flex;
    gap: 60px;
    /* max-width: 1320px; */
    justify-content: space-between;
    align-items: center;
    /* flex-direction: column; */
    padding: 50px 20px;
    /* text-align: center; */
}

.card h1{
    color: #00FF88;
    text-align: center;
}

.card p{
    color: white;
    text-align: center;
}

.why-choose{
    background-color: #230E3D;
}


h2{
    color: #00FF88;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

/* .card1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;

    padding: 30px 50px;
    max-width: 1320px;
    margin: 0 auto;
}

.card11{
    background-color: #351165;
    padding: 30px;
    height: 480px;
    border-radius: 20px;
    text-align: left;
}

.card1 h1,h2,p{
    text-align: left;
    margin-top: 10px;
}

.card22{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card21{
    background-color: #351165;
    padding: 30px;
    height: 220px;
    border-radius: 20px;
    text-align: left;
} */


.card1{
    background-color: #351165;
    padding: 30px;
    height: 480px;
    border-radius: 20px;
    text-align: left;
}

.card1 h1,h2,p{
    text-align: left;
    margin-top: 10px;
}